

.navbar{
  background-color: #fff!important;
  color: #ccc!important;
}

.navbar-nav .nav-item-con{
  background-color: #FF5302;
  height: 60px;
  margin: 0 10px 10px 0;
}


#showcase{
  height: 100vh;
  border-bottom: 1px #FF5302 solid;
}
